<h2>ember-do-forms</h2>

<hr>

{{!-- Use any ember object as the first argument of #do-form --}}
{{#do-form model submit=(action 'saveTask') as |form|}}
  {{!-- Use a model's propertyName as the first argument for #form.do-field --}}
  {{!-- This field (and subfields) uses classes defined in config --}}
  {{#form.do-field 'firstName' as |field|}}
    {{field.do-label 'First name'}}
    {{field.do-control 'text'}}
  {{/form.do-field}}

  {{!-- This field uses it's own classes --}}
  {{!-- But the validations are still bound --}}
  {{#form.do-field 'lastName' classNames='my-custom-field-class' as |field|}}
    {{field.do-label 'Last name' classNames='my-custom-label-class'}}
    {{field.do-control 'text' classNames='my-custom-control-class'}}
  {{/form.do-field}}

  {{!-- Bootstrap 4 checkbox example --}}
  {{#form.do-field 'profileVisible' classNames='form-group' as |field|}}
    {{#field.do-label classNames='custom-control custom-checkbox'}}
      {{field.do-control 'checkbox' classNames='custom-control custom-checkbox'}}
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Profile visible?</span>
    {{/field.do-label}}
  {{/form.do-field}}

  {{!-- Custom field / control example --}}
  {{#form.do-field 'customValue' tagName='span' classNames='my-custom-field' as |field|}}
    {{field.do-label 'Custom Field'}}
    {{!-- Fields can be invoked in block form, and the yielded context contains: --}}
    {{!-- id, value, class (the validation class applied to the control) --}}
    {{#field.do-control as |c|}}
      <input value={{c.value}} id={{c.id}} class="{{c.validationClass}}">
    {{/field.do-control}}
  {{/form.do-field}}
  <br>

  {{!-- Use any type of button you want --}}
  <button type='submit'>{{if isSaving 'Saving...' 'Save'}}</button>
{{/do-form}}