<h2>ember-do-forms</h2>

<hr>
<h4>Experimental</h4>
{{#do-form model submit=(action 'saveTask') as |form|}}
  {{form.input-field 'lastName' label='Last Name' hint='First name followed by last name'}}
{{/do-form}}
<hr>

{{#do-form model submit=(action 'saveTask') as |form|}}
  {{#form.do-field 'firstName' as |field|}}
    {{field.do-label 'First name'}}
    {{field.do-control 'text'}}
    {{field.do-feedback}}
  {{/form.do-field}}

  {{#form.do-field 'lastName' as |field|}}
    {{field.do-label 'Last name'}}
    {{field.do-control 'text'}}
    {{field.do-feedback}}
  {{/form.do-field}}

  {{#form.do-field 'profileVisible' classNames='form-group' as |field|}}
    {{#field.do-label classNames='custom-control custom-checkbox'}}
      {{field.do-control 'checkbox' classNames='custom-control custom-checkbox'}}
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Profile visible?</span>
    {{/field.do-label}}
    {{field.do-feedback}}
  {{/form.do-field}}

  {{#form.do-field 'customValue' tagName='span' classNames='my-custom-field' as |field|}}
    {{field.do-label 'Custom Field'}}
    {{#field.do-control as |c|}}
      <input value={{c.value}} id={{c.id}} class="{{c.validationClass}}">
    {{/field.do-control}}
    {{field.do-feedback}}
  {{/form.do-field}}

  <br>
  <button type='submit'>{{if isSaving 'Saving...' 'Save'}}</button>
{{/do-form}}